<app-nav-bar [title]="isNew ? 'Add Form' : 'Edit Form'" [hasArrowBack]="true" class="toolbar-actions">
    <button mat-icon-button [disabled]="!isFormValid$" (click)="validateForm()">
        <mat-icon>save</mat-icon>
    </button>
</app-nav-bar>

<div class="signup position-relative h-100">
    <mat-card appearance="raised" class="p-4 position-absolute top-50 start-50 translate-middle">
        <form [formGroup]="formGroup" (ngSubmit)="saveForm()" class="d-flex flex-column gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" placeholder="Enter the title">
                <mat-error *ngIf="formGroup.get('title')?.hasError('required')">Title is required</mat-error>
                <mat-error *ngIf="formGroup.get('title')?.hasError('minlength')">Minimum length is 3</mat-error>
                <mat-error *ngIf="formGroup.get('title')?.hasError('notUnique')">Title must be unique</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter a description (optional)"></textarea>
                <mat-error *ngIf="formGroup.get('description')?.hasError('minlength')">Minimum length is 3</mat-error>
                <mat-error *ngIf="formGroup.get('description')?.hasError('maxlength')">Maximum length is 200</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="owner" [value]="currentUser?.name">
            </mat-form-field>

            <mat-checkbox formControlName="isPublic">Public Form</mat-checkbox>
        </form>
    </mat-card>
</div>
