<div class="d-flex align-items-center flex-column container">
    <p class="fst-italic fs-5">Question {{ getCountTostring() }}</p>

    <mat-card appearance="outlined" class="w-100">
        <mat-card-content>
            <p class="h3 fst-italic">
                @if (question?.required) {
                    (*)
                }
                {{ question?.title }}
            </p>
            <p class="fst-italic">{{ question?.description }}</p>

            @switch (getType()) {
                @case (Type.Short) {
                    <mat-form-field class="w-100">
                        <input matInput [formControl]="questionControl!" name="{{ question?.id }}"
                               (change)="onChange()">
                    </mat-form-field>
                }
                @case (Type.Long) {
                    <mat-form-field class="w-100">
                        <textarea matInput [formControl]="questionControl!" name="{{ question?.id }}"
                                  (change)="onChange()"
                        ></textarea>
                    </mat-form-field>
                }
                @case (Type.Date) {
                    <mat-form-field class="w-100">
                        <input matInput [formControl]="questionControl!" type="date" name="{{ question?.id }}"
                               (change)="onChange()">
                    </mat-form-field>
                }
                @case (Type.Email) {
                    <mat-form-field class="w-100">
                        <input matInput [formControl]="questionControl!" type="email" name="{{ question?.id }}"
                               (change)="onChange()">
                    </mat-form-field>
                }
                @case (Type.Integer) {
                    <mat-form-field class="w-100">
                        <input matInput [formControl]="questionControl!" type="number" name="{{ question?.id }}"
                               (change)="onChange()">
                    </mat-form-field>
                }
                @case (Type.Combo) {
                    <mat-form-field class="w-100">
                        <mat-select class="fst-italic" [formControl]="questionControl!" placeholder="(no value)"
                                    (change)="onChange()">
                            <mat-option value="" class="fst-italic">(no value)</mat-option>
                            <mat-option *ngFor="let option of optionList?.values"
                                        [value]="option.idx.toString()">{{ option.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                }
                @case (Type.Radio) {
                    <mat-radio-group [formControl]="questionControl!" class="w-100 row row-cols-2"
                                     (change)="onChange()">
                        <mat-radio-button *ngFor="let option of optionList?.values" class="col flex-wrap"
                                          [value]="option.idx.toString()">{{ option.label }}
                        </mat-radio-button>
                        
                    </mat-radio-group>
                }
                @case (Type.Check) {
                    <form [formGroup]="questionGroup!" class="row row-cols-2">
                        @for (option of optionList?.values; track option.idx) {
                                <mat-checkbox value="{{ option.idx }}" [checked]="isChecked(option.idx)" class="col flex-wrap"
                                              (change)="selectOption($event)">{{ option.label }}
                                </mat-checkbox>
                        }
                    </form>
                }
            }

        </mat-card-content>
    </mat-card>
</div>