<app-nav-bar title="MyForm" class="toolbar-actions">

</app-nav-bar>
<div class="body">
    <div id="list_forms">
        @for (form of forms; track form.id) {
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header class="d-flex justify-content-between">
                    <mat-card-title class="fw-bold">{{ form.title }}</mat-card-title><mat-icon>public</mat-icon>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <p>{{ form.description }}</p>
                    <p>by <b>{{ form.ownerId }}</b></p>
                </mat-card-content>
                <mat-card-footer class="example-card-footer">
                    <a mat-button href="#">Open</a>
                    <a mat-button href="#">Manage</a>
                </mat-card-footer>
            </mat-card>
        }
    </div>
</div>