<h2 mat-dialog-title>
    {{ data.title }}
</h2>
<mat-dialog-content>
    {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions>
    @if (getConfirmDialogType() != confirmDialogType.OPEN_FORM) {
        <button mat-button (click)="cancel()">No</button>
    }
    @if (getConfirmDialogType() == confirmDialogType.DELETE_QUESTION) {
        <button mat-button cdkFocusInitial (click)="deleteQuestion()">Yes</button>
    } @else if (getConfirmDialogType() == confirmDialogType.TOGGLE_PUBLIC) {
        <button mat-button cdkFocusInitial (click)="togglePublic()">Yes</button>
    } @else if (getConfirmDialogType() == confirmDialogType.DELETE_FORM) {
        <button mat-button cdkFocusInitial (click)="deleteForm()">Yes</button>
    } @else if (getConfirmDialogType() == confirmDialogType.DELETE_INSTANCE) {
        <button mat-button cdkFocusInitial (click)="deleteInstance()">Yes</button>
    } @else if (getConfirmDialogType() == confirmDialogType.OPEN_FORM) {
        <button mat-button (click)="openForm(false)">Read</button>
        <button mat-button (click)="openForm(true)">Respond</button>
        <button mat-button (click)="cancel()">Cancel</button>
    }
</mat-dialog-actions>