<app-nav-bar [title]="'Share : ' + formTitle" [hasArrowBack]="true"></app-nav-bar>

<div class="body">
    <h2>Users with Access</h2>
    <div *ngFor="let access of accessesUsers">
        <span>{{ access.user.firstName + ' ' + access.user.lastName}}</span>
        <mat-checkbox
                [checked]="access.accessType === 'user'"
                [disabled]="access.accessType === 'editor'"
                (change)="updateAccess(access.userId, 'user')"
        >user</mat-checkbox>
        <mat-checkbox
                [checked]="access.accessType === 'editor'"
                (change)="
        access.accessType === 'editor'
          ? deleteAccess(access.userId)
          : updateAccess(access.userId, 'editor')
      "
        >editor</mat-checkbox
        >
    </div>

    <h2>Add User Access</h2>
    <div>
        <mat-form-field>
            <mat-label>Select a User</mat-label>
            <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let user of users" [value]="user">{{ user.firstName + ' ' + user.lastName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="newAccessType" value="user">user</mat-checkbox>
        <mat-checkbox [(ngModel)]="newAccessType" value="editor">editor</mat-checkbox>
        <button (click)="addAccess()">Add</button>
    </div>
</div>