<mat-toolbar>
    @if (hasArrowBack) {
        <button mat-icon-button [routerLink]="link">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    } @else if (hasMenu) {
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    } @else {
        <mat-icon class='mx-2'>history_edu</mat-icon>
    }
    <span class="title">{{ title }}</span>

    <span class="spacer"></span>
    <ng-content/>
</mat-toolbar>

<!-- Menu -->
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>My Forms</span>
    </button>
    <button mat-menu-item (click)="openManageOptionLists()">
        <mat-icon>person</mat-icon>
        <span>My Option Lists</span>
    </button>
    <button mat-menu-item (click)='logout()'>
        <mat-icon>logout</mat-icon>
        <span>Logout ({{ currentUser?.firstName + " " + currentUser?.lastName }})</span>
    </button>
</mat-menu>
