<app-nav-bar title="Welcome to MyForm App!" class="toolbar-actions"></app-nav-bar>

<div class="signup position-relative h-100">
    <mat-card appearance="raised" class="p-4 position-absolute top-50 start-50 translate-middle">
        <form [formGroup]="frm" novalidate class="d-flex flex-column">
            <span class="text-center fs-4">Sign Up</span>
            <hr>
            <div class="p-2 d-flex flex-column pb-0">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-label>First Name</mat-label>
                    <input matInput [formControl]="ctlFirstName" appSetFocus>
                    @if (ctlFirstName.hasError('required')) {
                        <mat-error class="field-error">Required</mat-error>
                    }
                    @if (ctlFirstName.hasError('minlength')) {
                        <mat-error class="field-error">Minimum length is {{ctlFirstName.errors?.minlength?.requiredLength}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-label>Last Name</mat-label>
                    <input matInput [formControl]="ctlLastName">
                    @if (ctlLastName.hasError('required')) {
                        <mat-error class="field-error">Required</mat-error>
                    }
                    @if (ctlLastName.hasError('minlength')) {
                        <mat-error class="field-error">Minimum length is {{ctlLastName.errors?.minlength?.requiredLength}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>event</mat-icon>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [formControl]="ctlDateOfBirth" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="ctlDateOfBirth.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="ctlEmail" required>
                    @if (ctlEmail.hasError('required')) {
                        <mat-error class="field-error">Required</mat-error>
                    }
                    @if (ctlEmail.hasError('email')) {
                        <mat-error class="field-error">Must be a valid email address</mat-error>
                    }
                    @if (ctlEmail.hasError('emailUsed')) {
                        <mat-error class="field-error">Email address is already used</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>key</mat-icon>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="ctlPassword" required>
                    @if (ctlPassword.hasError('required')) {
                        <mat-error class="field-error">Required</mat-error>
                    }
                    @if (ctlPassword.hasError('minlength')) {
                        <mat-error class="field-error">Minimum length is {{ctlPassword.errors?.minlength?.requiredLength}}</mat-error>
                    }
                    @if (ctlPassword.hasError('maxLength')) {
                        <mat-error class="field-error">Maximum length is {{ctlPassword.errors?.maxLength?.requiredLength}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>key</mat-icon>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" [formControl]="ctlConfirmPassword" required>
                    @if (ctlConfirmPassword.hasError('required')) {
                        <mat-error class="field-error">Required</mat-error>
                    }
                    @if (ctlConfirmPassword.hasError('minlength')) {
                        <mat-error class="field-error">Minimum length is {{ctlConfirmPassword.errors?.minlength?.requiredLength}}</mat-error>
                    }
                    @if (ctlConfirmPassword.hasError('maxLength')) {
                        <mat-error class="field-error">Maximum length is {{ctlConfirmPassword.errors?.maxLength?.requiredLength}}</mat-error>
                    }
                </mat-form-field>
                @if (frm.hasError('passwordNotConfirmed') && ctlConfirmPassword.dirty && ctlConfirmPassword.valid) {
                    <mat-error class="field-error">The passwords don't match</mat-error>
                }

                <button (click)="signup()" [disabled]="frm.invalid" mat-stroked-button class="w-100">Sign Up</button>
            </div>
        </form>
    </mat-card>
</div>
